<!-- mon-jawara/src/views/partials/menus/defaultMenu.ejs -->
        <!-- Manajemen Akun VPN -->
        <li class="nav-item">
          <a href="/vpn" class="nav-link">
            <i class="nav-icon bi bi-shield-lock"></i>
            <p>VPN</p>
          </a>
        </li>
        
        <!-- Manajemen Mikrotik -->
        <li class="nav-item">
          <a href="/mikrotik" class="nav-link">
            <i class="nav-icon bi bi-router"></i>
            <p>Mikrotik</p>
          </a>
        </li>
        
        <li class="nav-item">
          <a href="/oltmgmn" class="nav-link">
            <i class="nav-icon bi bi-hdd-network"></i>
            <p>OLT</p>
          </a>
        </li>
        
        <li class="nav-item">
          <a href="/telegram" class="nav-link">
            <i class="nav-icon bi bi-palette"></i>
            <p>Telegram</p>
          </a>
        </li>
        
        <li class="nav-item">
          <a href="/mikhmon" class="nav-link">
            <i class="nav-icon bi bi-server"></i>
            <p>Mikhmon</p>
          </a>
        </li>