<div class="app-content-header">
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <h3 class="mb-0"><%= title %> </h3>
        <small class="text-muted"> Manajemen station client, hotspot ppp sesuai server </small>
      </div>
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#accessModal">
        <i class="bi bi-plus-circle"></i> Assign Akses </button>
    </div>
  </div>
</div>